{% extends 'base.html.twig' %}

{% block title %}Students list{% endblock %}

{% block body %}
    <h1>List of Students</h1>
    <div class="container item">
        <ul class="item-list">
                <div class="items">
                    <div class="left">
                        <div class="preview person"></div>
                    </div>
                    <div class="right">
                        <div class="title">{{student.name}} {{student.surname}}</div>
                            {% if student.grades is empty %}
                            <p class="empty">There are no grades to show.</p>
                            {% endif %}
                            {% for grade in student.grades %}
                                <div class="list">
                                {{grade.lecture.name}} {{grade.grade}}
                                </div>
                            {% endfor %}
                        <div class="buttons item">
                    </div>
                </div>
            </div>
        </ul>
    </div>
{% endblock %}
