{% extends 'base.html.twig' %}

{% block title %}Edit Lecture{% endblock %}

{% block body %}
<div class="container">
<div class="row bg">
    <h1>Edit Lecture</h1>
    <div class="container create col-sm-6">
        <form action="{{path('lecture_update', {id:lecture.id})}}" method="POST">
        <div class="new">
                <label for="lecture_name">Name:</label> 
                <input type="text" name="lecture_name" value="{{lecture.name}}" id="lecture_name">
            </div>
            <div class="new">
                <label for="lecture_description">Description:</label> 
                <textarea name="lecture_description" id="summernote">{{lecture.description}}</textarea>
            </div>
            <button class="submit-btn create" type="submit">Edit Lecture</button>
            {# <input type="hidden" name="token" value="{{csrf_token('')}}"/> #}
        </form>
    </div> 
</div> 
</div> 
{% endblock %}
