{% extends 'base.html.twig' %}

{% block title %}Grades{% endblock %}

{% block body %}
<div class="container">
    <div class="row bg hp">
        {# {% if app.user %}
            <h1>Welcome back, {{app.user.username}}</h1>
        {% else %}
            <h1>Welcome to the Gradebook</h1>
        {% endif %} #}
        <div class="container">
            <div class="container hp">
                <div class="row">
                    <div class="col-md">
                        <h3>Lists</h3>
                    </div>
                </div>
                <div class="row justify-content-around gap">
                    <div class="col-md rounded expand">
                        <a class="hp" href="http://localhost/gradebook/public/lecture">
                            <img src="http://localhost/gradebook/assets/img/hp1.png" class="rounded mx-auto d-block" alt="Lecture illustration">
                            <h4 class="text-blue">Lectures</h4>
                            <p class="text-grey">Check the list of lectures and grades already assigned.</p>
                        </a>
                    </div>
                    <div class="col-md rounded expand">
                        <a class="hp" href="http://localhost/gradebook/public/student">
                            <img src="http://localhost/gradebook/assets/img/hp2.png" class="rounded mx-auto d-block" alt="Student illustration">
                            <h4 class="text-green">Students</h4>
                            <p class="text-grey">Check the list of students.</p>
                        </a>
                    </div>
                    <div class="col-md rounded expand">
                        <a class="hp" href="http://localhost/gradebook/public/grade">
                            <img src="http://localhost/gradebook/assets/img/hp3.png" class="rounded mx-auto d-block" alt="Grade illustration">
                            <h4 class="text-orange">Grades</h4>
                            <p class="text-grey">Check the list of students and evaluation of lectures.</p>
                        </a>
                    </div>
                </div>
                <div class="row gap">
                    <div class="col-7">
                        <h3>Create new</h3>
                        <div class="row rounded text-center">
                            <a class="col-md create" href="http://localhost/gradebook/public/lecture/create">
                                <div class="lecture icon"></div>
                                <p>New Lecture</p>
                            </a>
                            <div class="col-md border">
                                <a class="create" href="http://localhost/gradebook/public/student/create">
                                    <div class="student icon"></div>
                                    <p>New Student</p>
                                </a>
                            </div>
                            <a class="col-md create" href="http://localhost/gradebook/public/grade/create">
                                <div class="grade icon"></div>
                                <p>New Grade</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md">
                        <h3>Your status</h3>
                        <div class="row rounded">
                            <div class="col-md">
                                <div class="create" >
                                    {# <div class="profile icon"></div> #}
                                    <!-- Button trigger modal -->
                                    <button type="button" class="btn status" data-toggle="modal" data-target="#exampleModalCenter">
                                        <img class="mod" src="http://localhost/gradebook/assets/img/hp4.png">
                                        <h5 class="title-status">Teacher</h5>
                                    </button>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Status - Teacher</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h5>Teacher account can access the following content:</h5>
                                            <p>1. Add new lectures;</p>
                                            <p>2. Add students to the database;</p>
                                            <p>3. Assign grades to the students.</p>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

