@import "~bootstrap/scss/bootstrap";

body {
    background: #EBEBF2;
    position: relative;
}

main {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

nav {
    border-radius: 16px 16px 0 0;
}

img.rounded.d-block {
    width: 90%;
}

div.rounded {
    background: #fff;
}

div.gap {
    column-gap: 15px;
}

.login {
    display: block;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
    color: #fb0064;
}

a.login:hover {
    color: #0a2641;
}

.validation {
    display: block;
    float: left;
    width: 100%;
}

.filter a,
.sort a,
.logged a {
    display: inline-block;
    font-size: 14px;
    height: 22px;
    line-height: 32px;
    text-decoration: none;
    color: #544F9A;
}

a:hover {
    color: #544F9A;
}

.empty {
    display: block;
    text-align: center;
}

p.empty {
    text-align: left;
}

.bg {
    height: auto;
    background-color: #fff;
    background-repeat: no-repeat;
    border-radius: 0 0 16px 16px;
    background-size: 78%;
    background-position-x: -10%;
    background-position-y: 55%;
    padding-bottom: 58px;
}

.bg.hp {
    background-color: #F7F7FA;
}

.bg.msg {
    border-radius: unset;
    padding-bottom: unset;
}

.registration-bg {
    height: 70vh;
    background-image: url("http://localhost/gradebook/assets/img/intro1.png");
}

.login-bg {
    height: auto;
    background-image: url("http://localhost/gradebook/assets/img/intro4.png");
}

.register-title {
    color: #0a2641;
}

.item-list {
    display: inline-block;
}

.filter,
.sort {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.filter p,
.sort p {
    display: inline-block;
    width: 100px;
    height: 22px;
    font-size: 14px;
    line-height: 32px;
    margin-bottom: unset;
    color: #6c757d;
}

ul {
    display: block;
    float: left;
    width: 100%;
}

ul.row {
    width: auto;
}

.new {
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
}

.new label {
    display: inline-block;
    width: 80px;
    text-align: right;
    line-height: 30px;
    margin-bottom: 0;
}

.new > input,
.new > textarea,
.new > select {
    display: block;
    float: right;
    width: 72%;
}

.filter select,
.sort select {
    display: block;
    float: left;
    height: 22px;
    font-size: 14px;
    color: #6c757d;
    margin-top: 5px;
}

h1 {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #3A3B64;
    font-size: 30px;
    margin: 20px 0;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin: 0 0 20px;
    border-top: 1px solid #3A3B64;
    border-bottom: 1px solid #3A3B64;
}

.nav-item > a.nav-link {
    color:#fb0064;
    border: 1px solid transparent;
    border-radius: 10px;
}

.nav-item > a.nav-link.sign-in {
    color:#fb0064;
}

.nav-item > a.nav-link.register {
    color: rgb(0 0 0 / 70%);
}

.nav-item > a.nav-link.sign-in:hover {
    color:#fb0064;
    border:1px solid #fb0064;
}

.nav-item > a.nav-link.sign-in.checked {
    font-weight: 500;
}

.nav-item > a.nav-link.register:hover {
    color: rgb(0 0 0 / 70%);
    border:1px solid rgb(0 0 0 / 70%);
}

.nav-item > a.nav-link.register.checked {
    font-weight: 500;
}

.item {
    display: block;
    width: 25%;
    height: 250px;
    margin: 0 0 20px;
}

.list {
    display: block;
    float: left;
    width: 100%;
}

.list.item {
    float: none;
}

ul {
    padding-inline-start: 0;
}

.items {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.preview {
    display: block;
    // float: left;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    background-position: top;
    background-size: cover;
}

.pic {
    display: inline-block;
    width: 100%;
}

.preview.item {
    background-image: url("http://localhost/gradebook/assets/img/bg3.jpg");
    opacity: 0.8;
    margin: auto;
}

.preview.person {
    background-image: url("http://localhost/gradebook/assets/img/bg3.jpg");
    float: right;
    margin-right: 10px;
}

.title {
    display: block;
    float: left;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    color: #544F9A;
    text-align: center;
}

.title.left {
    text-align: unset;
}

.right .title {
    width: 100%;
}

.name {
    display: block;
    float: left;
    width: 100%;
    font-size: 14px;
    margin-bottom: 0px;
    text-align: center;
}

.name:nth-of-type(2) {
    margin-bottom: 10px;
}

.buttons {
    display: inline-block;
    width: 100%;
    outline: none;
    margin-bottom: 10px;
}

.buttons.wide {
    display: block;
    float: left;
    width: 100%;
}

.buttons.wide > .edit-btn {
    width: 50%;
}

.card.register {
    margin: 30px 0;
    border-radius: 20px;
    background: #F7F7FA;
}

.card.login {
    margin-top: 0;
    height: calc(100% + 58px);
    background: #F7F7FA;
    border-radius: 0 0 16px 0;
}

.col-md-4.signup{
    padding-right: 0px;
    padding-left: 0px;
}

.card-body.login {
    margin-top:50px;
}

form {
    display: inline-block;
}

.filter form,
.sort form {
    height: 22px;
}

form.registration {
    width: 100%;
}

form.signup {
    position: relative;
}

.form-check.custom label.required {
    font-size: 14px;
}

.form-check-input {
    margin-top: 0.5rem;
}

.form-check-input.custom {
    display: block;
    float: left;
    position: unset;
}

.form-control.signup {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: unset;
    background: #F7F7FA;
}

.form-control:focus {
    border: none;
    box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 8%);
}

.buttons.wide > form {
    display: block;
    float: left;
    width: 50%;
}

.buttons.items form:last-of-type {
    display: inline-block;
    width: 100%;
}

.buttons.items form > .view-btn {
    display: block;
    float: left;
    width: 100%;
}

.buttons.wide > form > .submit-btn {
    display: block;
    float: left;
    width: 100%;
}

.edit-btn,
.submit-btn,
.view-btn {
    display: block;
    float: left;
    width: 50px;
    height: 22px;
    line-height: 18px;
    font-size: 14px;
    color: #3A3B64;
    border: none;
    border-top: 1px solid #544F9A;
    border-bottom: 1px solid #544F9A;
    cursor: pointer;
    text-align: center;
    outline: none;
}

.view-btn {
    width: 100%;
}

.filter.submit-btn,
.sort.submit-btn {
    display: block;
    float: right;
    height: 22px;
    margin-bottom: unset;
    border: none;
    margin-left: 5px;
    padding: unset;
    color: #6c757d;
    margin-top: 5px;
}

.edit-btn:hover {
    background: #544F9A;
    color: #fff;
    text-decoration: none;
}

.submit-btn:hover,
.view-btn {    
    background: #e7e7ff;
}

.filter.submit-btn:hover,
.sort.submit-btn:hover {
    background: #dee2e6;
}

.submit-btn.create {
    width: 50%;
    height: 30px;
    margin: 10px 25%;
    color: #fff;
    border: none;
    background: #3A3B64;
}

.submit-btn.create:hover {
    background: #544F9A;
}

.registration button,
.login button {
    margin-top: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: #fb0064;
    border-color: #fb0064;
}

.registration button.btn.btn-primary:hover,
.registration button.btn.btn-primary:active,
.registration button.btn.btn-primary:focus,
.registration button.btn.btn-primary:focus:active,
.login button.btn.btn-primary:hover,
.login button.btn.btn-primary:active,
.login button.btn.btn-primary:focus,
.login button.btn.btn-primary:focus:active {
    background: #e2005a;
    border-color: #e2005a;
    box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px #f7f7fa inset !important;
}

.alert.invalid-credentials {
    position: absolute;
    width: 100%;
}

.alert .font-sm{
    font-size: 13px;
    text-align: center;
    padding: 0.4rem 1.25rem;
}

@media (max-width: 1100px) {
    .new label {
       text-align: left; 
       width: 100%;
    }
    .new input,
    .new > select {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .item {
        width: 33%;
    }
    .preview {
        width: 80px;
    }
}

@media (max-width: 850px) {
    .item {
        width: 50%;
    }
    .preview {
        width: 80px;
    }
}

@media (max-width: 650px) {
    .item {
        width: 100%;
    }
    .preview {
        width: 80px;
    }
}